#* Template for annotated image links used by the mobile application.

 Arguments needed for mustache are:
  - annotationId - database id of the annotation
  - imageId - database id of the image in background 
  - width
  - height
*#
<img data-type="annotation" data-id="$annotationId" data-imageid="$imageId" width="$width" height="$height" />