#* Template for raw image links used by the mobile application.

 Arguments needed for mustache are:
  - imageId  - database id of the image
  - name - name of the image
  - width 
  - height
*#
<img data-type="image" data-id="$imageId" width="$width" height="$height" />