.error {
  color: red;
}

#displayAreaBlock {
  width: 100%;
  margin-bottom: 30px;
}

#displayAreaBlock #inviteBlock {
  width: 100%;
  display: flex;
}

#displayAreaBlock .title {
  display: flex;
  align-items: center;
}

#displayAreaBlock .title h3 {
  align-self: flex-start;
}

#displayAreaBlock .title input {
  margin-left: 10px;
  align-self: flex-start;
}

#groupBlocks a,
#groupBlocks a:link,
#groupBlocks a:active {
  color: #1465b7;
  text-decoration: none;
}

#groupBlocks a:visited {
  color: #1465b7;
  background-color: transparent;
}

#groupBlocks a:hover {
  color: #cc0000;
  text-decoration: none;
}

#membersBlock {
  display: flex;
}

#membersBlock .group-members {
  flex-grow: 1;
}

#membersBlock .pending-invitations {
  padding-left: 10px;
  border: 0px;
}

#membersBlock .pending-invitations h3 {
  text-align: center;
}

#membersBlock .pending-invitations table {
  border-collapse: collapse;
  border: 0px;
}

#membersBlock .pending-invitations td {
  padding: 5px 10px 5px 8px;
  border-color: #DDDDDD;
}

#membersBlock .pending-invitations td.action {
  text-align: center;
}

#memberGroups {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#memberGroupsTable.table td a {
  font-size: 14px;
  line-height: 30px
}

#memberGroupsTable.table {
  border-collapse: collapse;
}

#grpDetails.table,
#disabledAccounts.table {
  border: 0;
}

#grpDetails.table th,
#memberGroupsTable.table th,
#membersBlock .pending-invitations th,
#disabledAccounts.table th {
  background-color: #DDDDDD;
}

#memberGroupsTable.table td,
#grpDetails.table td,
#disabledAccounts.table td {
  padding: 5px 5px 2px 10px;
}

#grpInvite.table {
  border: 0;
}

#grpInvite.table th {
  background-color: #DDDDDD;
}

#grpInvited.table {
  border: 0;
}

#grpInvited.table th {
  background-color: #DDDDDD;
}

#invitedMembers {
  margin-bottom: 20px;
}

#add_user_Select {
  border: 0;
  width: 100%;
  height: 240px;
}

.groupEditButton,
#groupDrop dt,
.changeRoleButton,
.removeLink {
  align-items: center;
  box-sizing: border-box;
  min-height: 26px;
  font-size: 12px !important;
  line-height: 1.2em !important;
  font-weight: normal !important;
  color: #1465b7;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #AFAFAF;
  background: white;
  background-position: 5px center !important;
  border-radius: 0 !important;
  text-shadow: none !important;
  cursor: pointer;
}

.groupEditButton:hover,
.changeRoleButton:hover,
.removeLink:hover {
  color: #cc0000;
}

.groupEditButton,
.changeRoleButton,
.removeLink {
  display: inline-flex;
}

.groupDropdown {
  margin-bottom: 0px;
  white-space: nowrap;
}

.groupEditButton {
  white-space: nowrap;
  overflow: hidden;
}

#groupDrop {
  z-index: 100;
  position: relative;
  display: inline;
  font-size: 11px;
  float: left;
}

#groupDrop dd {
  position: relative;
}

#groupDrop dl {
  margin: 0;
}

#groupDrop dt {
  display: flex;
  padding: 4px 7px 4px 20px;
  background-image: url('/images/blueDropDownArrow.png');
  background-repeat: no-repeat;
  margin-top: 0;
}

#groupDrop dd ul {
  background: #FFFFFF !important;
  display: none;
  list-style: none;
  padding: 5px;
  position: absolute;
  line-height: normal;
  left: -30px;
  top: 3px;
  width: auto;
  min-width: 110px;
  z-index: 101;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #AFAFAF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 0;
}

#groupDrop dd ul li {
  background: transparent !important;
  background-image: none;
  line-height: normal;
  box-shadow: none;
  border: 0;
  text-align: left;
}

.exportUsersWorkButton {
  position: relative;
  padding: 3px 7px 2px;
}

.exportUsersWorkButtonIcon {
  display: block;
  width: 45px;
  height: 20px;
}

.groupInviteButton {
  height: 20px;
  color: #FFF;
  background-color: #6389A8;
  border: 1px solid #6389A8;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 15px;
}

.groupGreyBlocks {
  display: flex;
  background-color: #F6F6F6;
  padding: 10px 0px 10px 10px;
}

.groupEditBar {
  display: flex;
  align-items: center;
}

.groupEditBar a,
.groupEditBar button,
.groupEditBar #groupDrop {
  margin-right: 2px;
}

#groupBlockLeft {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

#groupBlockRight {
  padding: 8px 0 0 0;
  color: #507594;
  float: left;
  margin-left: 20px;
  text-align: right;
  width: 240px;
}

#invitedBlock {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 270px;
}

.changeRoleButton {
  padding: 3px 7px 2px;
}

.removeLink {
  padding: 3px 7px 2px;
}

#grpDetails.table td a {
  font-weight: normal !important;
  text-decoration: none;
}

.groupProfileCboxSetting {
  margin: 3px 5px;
}

.setNewPiRadioDiv {
  margin: 10px;
}

.setNewPiRadioInput {
  vertical-align: bottom;
}
