# Target
RSPACE_BASE_URL=http://localhost:8080

# Sysadmin overrides
RSPACE_SYSADMIN_USERNAME=
RSPACE_SYSADMIN_PASSWORD=
RSPACE_SYSADMIN_API_KEY=

# Runner
E2E_INTEGRATION_MODE=mock
E2E_MOCK_PORT=9099

# Integration credentials
FIELDMARK_API_KEY=
ZENODO_API_KEY=
GALAXY_EU_APIKEY=
PYRAT_API_KEY=

DATAVERSE_API_TOKEN=
DATAVERSE_SERVER_URL=
DATAVERSE_NAME=

DSW_API_KEY=
DSW_SERVER_URL=
REDEPLOY_SECRET=

OMERO_USERNAME=
OMERO_PASSWORD=

IGSN_ACCOUNT_ID=
IGSN_REPO_PREFIX=
IGSN_PASSWORD=
IGSN_SERVER_URL=https://api.test.datacite.org
