.tui-image-editor-container .tui-image-editor-header,
.tui-image-editor-container .tui-image-editor-help-menu .tui-image-editor-item:nth-child(4),
.tui-image-editor-container .tie-btn-delete,
.tui-image-editor-container .tie-btn-deleteAll {
    display: none;
}

.tui-image-editor-container .tui-image-editor-main {
    position: relative;
    top: 0px;
}

.tui-image-editor-container .tui-image-editor-main {
    display: flex;
}

.tui-image-editor-container .tui-image-editor-submenu {
    position: relative;
}

.tui-image-editor-container .tui-image-editor-wrap {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.tui-image-editor-container .tui-image-editor-controls {
    background-color: white;
    position: relative;
}

.tui-image-editor-container .tui-image-editor {
    left: 0px;
}

.tui-image-editor-container {
    min-height: 100%;
    overflow: auto;
    height: auto;
    display: flex;
    background-color: white;
}

.tui-image-editor-container .tui-image-editor-main-container {
    position: relative;
    left: 0px;
    width: 100%;
}

.tui-image-editor-container .tui-image-editor-main {
    max-height: 100%;
    height: 100%;
}

.tui-image-editor-menu {
    transform: translateY(220px);
}

.tui-image-editor-help-menu {
    z-index: 9999;
    max-height: 350px;
    transform: translateY(-72%);
}

.tui-image-editor-container.right .tui-image-editor-menu > .tui-image-editor-item[tooltip-content]:before {
    right: -20px;
    border-right: 7px solid #2f2f2f;
    border-left: unset;
}

.tui-image-editor-container.right .tui-image-editor-menu > .tui-image-editor-item[tooltip-content]:after {
    right: unset;
}

.tui-image-editor-container .tui-image-editor-help-menu.left > .tui-image-editor-item[tooltip-content]:before {
    right: -5px;
}
