.tui-image-editor-container .tui-image-editor-header,
.tui-image-editor-container .tui-image-editor-help-menu .tui-image-editor-item:nth-child(4),
.tui-image-editor-container .tie-btn-delete,
.tui-image-editor-container .tie-btn-deleteAll {
  display: none !important;
}

.tui-image-editor-container .tui-image-editor-main {
  position: relative !important;
  top: 0px !important;
}

.tui-image-editor-container  .tui-image-editor-main {
  display: flex;
}

.tui-image-editor-container .tui-image-editor-submenu {
  position: relative !important;
}

.tui-image-editor-container .tui-image-editor-wrap {
  position: relative !important;
  flex-grow: 1;
  height: 100% !important;
}

.tui-image-editor-container .tui-image-editor-controls {
  background-color: white;
  position: relative;
}

.tui-image-editor-container .tui-image-editor {
  left: 0px !important;
}

.tui-image-editor-container {
  min-height: 100% !important;
  overflow: auto !important;
  height: auto !important;
  display: flex !important;
  background-color: white;
}

.tui-image-editor-container .tui-image-editor-main-container {
  position: relative !important;
  left: 0px !important;
  width: 100% !important;
}

.tui-image-editor-container .tui-image-editor-main {
  max-height: 100% !important;
  height: 100% !important;
}

.tui-image-editor-menu {
  transform: translateY(220px);
}

.tui-image-editor-help-menu {
  z-index: 9999 !important;
  max-height: 350px;
  transform: translateY(-72%) !important;
}

.tui-image-editor-container.right .tui-image-editor-menu > .tui-image-editor-item[tooltip-content]:before {
  right: -20px;
  border-right: 7px solid #2f2f2f;
  border-left: unset;
}

.tui-image-editor-container.right .tui-image-editor-menu > .tui-image-editor-item[tooltip-content]:after {
  right: unset;
}

.tui-image-editor-container .tui-image-editor-help-menu.left > .tui-image-editor-item[tooltip-content]:before {
  right: -5px;
}
