/target/
*.DS_Store
/RSLogs.txt
/RSLogs.txt*
/SecurityEvents.txt
/SlowRequests.txt
/emailErrors.txt
/error.log
/httpRequests.log
/FTsearchIndices/
/LuceneFTsearchIndices/
/Users/
.run
/jmeterusers.csv
/logins.csv
/null
/out.jpg
/out.pdf
/velocity.log
.idea/
*.iml
/src/main/webapp/ui/dist/
/src/main/webapp/ui/node/
/src/main/webapp/ui/node_modules/
node_modules
/.classpath
/.project
/.settings
/archive/
/bin/
home/
tmp/
generatedDBChangeSets/
/null.null
/svg.pdf
/xsxx.pdf
xsxx2.pdf

# Nix specifics
shell.nix
.envrc
.direnv-aliases
.mysql
.nix-mvn-settings.xml
.nix-mvn-toolchains.xml
samples/

# Other POSIX
*.swp
*.swo
*.swn
*.swm
*.swl
.ctags

# Visual Studio Code
/.vscode
/src/main/webapp/ui/.vscode
.factorypath
.java-version
src/main/webapp/ui/junit.xml
