<div>
<h1>${protocol.title}</h1>
$msg.getMessage("export.protocolsIo.importedFrom") #if($protocol.link) <a target="_blank" href="$protocol.link">Protocols.io</a>
              #else Protocols.io
              #end
<h2>$msg.getMessage("export.protocolsIo.metadata")</h2>
<b>$msg.getMessage("export.protocolsIo.originalCreator")</b> #if($protocol.creator.link)<a target="_blank" href="$protocol.creator.link">$protocol.creator.name</a>
                         #else $protocol.creator.name
                         #end
<br>
<b>$msg.getMessage("export.protocolsIo.publishedOn")</b>  $protocol.creationDate
<br>
<b>$msg.getMessage("export.protocolsIo.originalAuthors")</b>
   #foreach ($author in $protocol.authors)
      $author.name #if( $foreach.hasNext ),#end
   #end
<br>
 #if($protocol.versionId != "0")
  <b>$msg.getMessage("export.protocolsIo.version")</b>  $protocol.versionId
 #end

 #if($protocol.description != $null)
    $msg.getMessage("export.protocolsIo.abstract") <br>
    $protocol.description
 #end

 #if($protocol.beforeStart != $null)
  $msg.getMessage("export.protocolsIo.beforeStart") <br>
  $protocol.beforeStart
 #end

 #if($protocol.materials.size() > 0)
 <h2>$msg.getMessage("export.protocolsIo.materials")</h2>
   <table>
     <tr><th> $msg.getMessage("common:stoichiometry.table.roles.reagent") </th><th>$msg.getMessage("export.protocolsIo.source")</th></tr>
   #foreach ($reagent in $protocol.materials)
     #reagent($reagent)
   #end
 </table>
 #end
 <h2>$msg.getMessage("export.protocolsIo.steps")</h2>
     #foreach ($step in $protocol.steps)
       <h3 data-step-id="$step.id"><a id="step-$step.id">$msg.format("export.protocolsIo.stepNumber", [$foreach.count])</a> </h3>
         #foreach ($component in $step.components)
           ## Description Type **
           #if($component.typeId==1)
              $component.source.description
           ## Amount Type **
           #elseif($component.typeId==3)
             ${component.source.getAmountString()}
           ## Duration Type **
           #elseif($component.typeId==4)
             $component.source.title ${component.source.getDurationString()}
           ## Title Type **
           #elseif($component.typeId==6)
            <h4> $!component.source.title </h4>
           ## Link Type **
           #elseif($component.typeId==7)
             <a href="$component.source.link">$msg.getMessage("export.protocolsIo.linkOut")</a>
           ## Software Package Type **
           #elseif($component.typeId==8)
             $msg.getMessage("export.protocolsIo.softwarePackage") <a target="_blank" href="$component.source.link">$component.source.name</a>  <br>
             $msg.getMessage("export.protocolsIo.operatingSystem")$component.source.osName ($component.source.osVersion)<br>
             $msg.getMessage("export.protocolsIo.repository") $!component.source.repository
           ## Dataset Type **
           #elseif($component.typeId==9)
             $msg.getMessage("export.protocolsIo.dataset") <a target="_blank" href="$component.source.link">$component.source.name</a>
          ## Comment Type **
           #elseif($component.typeId==13)
             $msg.getMessage("export.protocolsIo.comment") $component.source.body
           ## Command Type **
           #elseif($component.typeId==15)
             $msg.getMessage("export.protocolsIo.softwarePackage") $component.source.name. $msg.getMessage("export.protocolsIo.command") $component.source.command <br>
             $msg.getMessage("export.protocolsIo.operatingSystem")$component.source.osName ($component.source.osVersion)
           ## Expected Result Type **
           #elseif($component.typeId==17)
             $component.source.body
           ## Embedded Protocol Type **
           #elseif($component.typeId==18)
             $msg.getMessage("export.protocolsIo.nestedProtocol") <a target="_blank" href="https://$component.source.doi">$component.source.title</a>
           ## Safety Information Type **
           #elseif($component.typeId==19)
            <a href="$component.source.link">$msg.getMessage("export.protocolsIo.safetyInformation")</a> <br>
            $component.source.body
           ## Reagent Type **
           #elseif($component.typeId==20)
            <table> #reagent($component.source) </table>
           ## Step Cases Type **
           #elseif($component.typeId==21)
            #foreach($case in $component.source.cases)
                <b>$case.title</b>: <a href="#step-$case.stepId">$case.label</a>
            #end
           ## GoTo Previous Type **
           #elseif($component.typeId==22)
            $msg.format("export.protocolsIo.seePreviousStep", [$component.source.stepGuid]) <br>
            $component.source.title
           ## File Type **
           #elseif($component.typeId==23)
            <a target="_blank" href="#$component.source.source">$component.source.originalName</a>
           ## Temperature Type **
           #elseif($component.typeId==24)
            ${component.source.getTemperatureString()}
           ## Concentration Type **
           #elseif($component.typeId==25)
            ${component.source.getConcentrationString()}
           ## Note Type **
           #elseif($component.typeId==26)
             $msg.getMessage("export.protocolsIo.note") $component.source.body
           ## Documents Type **
           #elseif($component.typeId==27)
             $msg.getMessage("export.protocolsIo.attachedDocument") <a target="_blank" href="https://$component.source.doi">$component.source.title</a>
           ## Equipment Type **
           #elseif($component.typeId==28)
             $msg.getMessage("export.protocolsIo.equipment") <br>
             $msg.getMessage("export.protocolsIo.name") $component.source.name <br>
             $msg.getMessage("export.protocolsIo.type") $component.source.type <br>
             $msg.getMessage("export.protocolsIo.brand") $component.source.brand  $component.source.sku <a target="_blank" href="#$component.source.link"></a> <br>
           ## Centrifuge Type **
           #elseif($component.typeId==30)
              $msg.getMessage("export.protocolsIo.centrifuge") ${component.source.getCentrifugeString()}
           ## Shaker Type **
           #elseif($component.typeId==33)
              $msg.getMessage("export.protocolsIo.shaker") ${component.source.getShakerString()}
           #end
           <br>
        #end
        <p>
     #end

</div>

#macro (reagent $reagent)
  <tr>
      <td>$reagent.name</td>
        <td>#if($reagent.vendor.link)<a target="_blank" href="$reagent.vendor.link">$reagent.vendor.name</a>
            #else$!reagent.vendor.name#end</td>
    </tr>
#end
