$msg.format("email.notification.exportCompleteNotification.completedWithSize", [$!name, $size])
$exportedRecordsSummary
<br/><br/>
$msg.format("email.notification.exportCompleteNotification.moreDetails", [$exportReportLink])
<br/><br/>
$msg.getMessage("email.notification.exportCompleteNotification.clickOrCopy")
<br/>
<a href='$link'>$linkText</a>.
<br/>$removalPolicyMessage
<p/>
