## Takes a communication 'cmm', dateobject 'dateOb', and baseURL string 'baseURL'

<h2>$msg.format("email.notification.message.rspaceMessageFrom", [$cmm.originator.fullName])</h2>
$msg.format("email.notification.message.sentMessage", ["$baseURL/userform?userId=$cmm.originator.id", $cmm.originator.fullName, $date.format('full_date', $dateOb), $date.format('short_time', $dateOb)])

#if($cmm.record)
$msg.format("email.notification.message.concerningDocument", ["$baseURL/workspace/editor/structuredDocument/$cmm.record.id", $cmm.record.name])
#end
<p/>
$cmm.message
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
<br/>
$msg.format("email.notification.message.replyInRSpace", ["$baseURL/workspace"])
