<h2>$msg.getMessage("email.notification.notification.notificationFromRSpace")</h2>
#if ($cmm.notification)
$msg.format("email.notification.notification.generatedNotificationWithType", ["$baseURL/userform?userId=$cmm.originator.id", $cmm.originator.fullName, $msg.getMessage($notificationTypeKey), $date.format('full_date', $dateOb), $date.format('short_time', $dateOb)])
#else
$msg.format("email.notification.notification.generatedNotification", ["$baseURL/userform?userId=$cmm.originator.id", $cmm.originator.fullName, $date.format('full_date', $dateOb), $date.format('short_time', $dateOb)])
#end
#if ($cmm.record)
#if ($cmm.record.notebook)
#set($recordType = "notebook")
#set($recordUrl = "$baseURL/notebookEditor/$cmm.record.id")
#else
#set($recordType = "document")
#set($recordUrl = "$baseURL/workspace/editor/structuredDocument/$cmm.record.id")
#end
#if (! $cmm.ignoreRecordLinkInMessage)
#set($recordRef = "<a href=""$recordUrl"">$cmm.record.name ($cmm.record.globalIdentifier)</a>")
#else
#set($recordRef = "$cmm.record.name ($cmm.record.globalIdentifier)")
#end
<br>
$msg.format("email.notification.notification.concerning", [$recordType, $recordRef])
<br>
#end
#if ($cmm.message)
$msg.getMessage("email.notification.notification.moreDetails")<br>
$cmm.message
<br/>
#end
<p/>
#if ($cmm.notification)
$cmm.notificationMessage
#end
<p style = 'font-size:75%'>
$msg.getMessage("email.common.notificationPrefSuffix")
</p>
<br/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
