$msg.format("email.notification.repoDepositCompleteNotification.response", [$result.succeeded, $!app.label])
<br/>
#if($result.message)
$msg.getMessage("email.notification.repoDepositCompleteNotification.hereIsMessage")
<br/>
$result.message
<br/>
#end
#if($result.url)
<a href="$result.url">$result.url</a>
#else
<br>$msg.getMessage("email.notification.repoDepositCompleteNotification.noUrlRetrieved")</br>
#end
<br/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
