<h2>$msg.format("email.notification.request.rspaceRequestFromUser", [$cmm.originator.fullName, $cmm.originator.username])</h2>
#if ($cmm.messageType == "REQUEST_JOIN_LAB_GROUP")
#set($senderType = "pi")
#else
#set($senderType = "user")
#end
$msg.format("email.notification.request.sentRequest", [$senderType, $cmm.originator.fullName, $date.format('full_date', $dateOb), $date.format('short_time', $dateOb)])
#if ($cmm.messageType == "REQUEST_JOIN_LAB_GROUP" || $cmm.messageType == "REQUEST_JOIN_PROJECT_GROUP")
#if($cmm.messageType == "REQUEST_JOIN_LAB_GROUP")
#set($groupType = "labGroup")
#else
#set($groupType = "projectGroup")
#end
<br/><br/>
$msg.format("email.notification.request.joinInstruction", [$groupType, $cmm.group.displayName, "$baseURL/dashboard/updateMessageStatus?messageOrRequestId=$cmm.id&status=COMPLETED", "$baseURL/dashboard/updateMessageStatus?messageOrRequestId=$cmm.id&status=REJECTED"])
<br/>
$msg.format("email.notification.request.joinPermissionNote", [$groupType])
<br/><br/>
#end

#if ($cmm.record && $cmm.record.notebook)
$msg.format("email.notification.request.concerningNotebook", ["$baseURL/notebookEditor/$cmm.record.id", $cmm.record.name])
<br>
#elseif($cmm.record)
$msg.format("email.notification.request.concerningDocument", ["$baseURL/workspace/editor/structuredDocument/$cmm.record.id", $cmm.record.name])
<br>
#end

#if ($cmm.message && $cmm.message != "")
$msg.getMessage("email.notification.notification.moreDetails")<br>
$cmm.message
#end
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
