<html><body>
		Welcome to ResearchSpace <br>
		RSpace is a web application of an electronic lab notebook, the NextGen ELN.<br/>
		This is a test message. If you are a customer you are probably seeing this in error and please ignore.
		More details please go  to <a href='http://www.researchspace.com'>
		our website</a>
</body></html>