#*
Template for messaging a user that someone has 'RunAs' them
Arguments:
- runAs - The user who was impersonated
- systemUser - The admin user  who performed the 'RunAs' operation
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p/>
$msg.format("email.common.greeting", [${runAs.fullName}])
<p/>
$msg.format("email.admin.adminRunningAsUserNotification.body", [${systemUser.fullName}, ${systemUser.email}])
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
