#*
Template for messaging the response to a collaboration group invitation.
Arguments:
- status - A MessageStatus enum
- user - A user object.
- msg - MessageSourceUtils for i18n phrase lookup
*#

$msg.format("email.collabGroupInvitation.response", [${status}, ${user.fullName}, ${groupType}, ${groupName}])
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
