#*
Template for messaging a user that they are set up with a PI role.
Arguments:
- newPI - the new PI User
- newLabGroup -  the Group that was created for the PI.
- baseURL - the base URL of the application
- systemUser - the admin User who set up the new account.
- msg - MessageSourceUtils for i18n phrase lookup
*#
<p/>
$msg.format("email.common.greeting", [${newPI.fullName}])
<p/>
$msg.getMessage("email.admin.promoteToPiComplete.bodyPromoted")
<p/>
$msg.format("email.admin.promoteToPiComplete.bodyLabGroupLink", ["${baseURL}/groups/view/${newLabGroup.id}"])


<p>$msg.format("email.admin.promoteToPiComplete.bodyProfileLink", ["${baseURL}/userform?userId=${newPI.id}"])

<p/>
$msg.getMessage("email.common.signatureSignOff")
<p/>
${systemUser.fullName}
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
