#*
Template for messaging a user that a document was witnessed ( or not ).
Arguments:
- user - the User who witnessed/declined to witness the document
- document -  the document being witnessed ( or not )
- status - the MessageStatus
- msg - MessageSourceUtils for i18n phrase lookup
*#
$msg.format("email.recordWitnessed.response", [${status}, ${user.fullName}, ${user.email}, ${record.name}])
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
