#*
Template for a sysadmin sending log files to support
- msg - MessageSourceUtils for i18n phrase lookup
*#
<p>
$msg.format("email.admin.supportLogFiles.bodyGenerated", [${user.fullName}, ${user.email}, $date.format('full_date', $dateOb), $date.format('short_time', $dateOb)])

#if($message)
<p>$msg.format("email.admin.supportLogFiles.bodyMessageSent", [$user.fullName])<br/>
$message
#end
<p>
<p>
$msg.getMessage("email.common.dontReply")
</p>
<p>
<h3>$msg.getMessage("email.admin.supportLogFiles.bodyLogsHeader")</h3>
#foreach ($line in $logLines)
$line<br/>
#end
<p/>
$msg.getMessage("email.admin.supportLogFiles.bodyLogsEnd")
