##A global macro library accessible by all templates.

#*
 Takes a list of NfsElement objects for tabular representation in HTML exports
*#
#macro (nfsElements $nfsFiles $pathToArchiveRoot)
#if(! $nfsFiles.isEmpty())
  <h4> $msg.getMessage("export.global.nfsElements.title") </h4>
  <table id="nfs">
    <tr>
     <th> $msg.getMessage("workspace:export.fileStore.login.columns.name") </th>
     <th> $msg.getMessage("export.global.nfsElements.headerFileSystemUri") </th>
     <th> $msg.getMessage("export.global.nfsElements.headerFileStorePath")  </th>
     <th> $msg.getMessage("export.global.nfsElements.headerRelativePath") </th>
     <th> $msg.getMessage("export.global.nfsElements.headerArchivePath") </th>
     <th> $msg.getMessage("export.global.nfsElements.headerReasonNotIncluded") </th>
     <th> $msg.getMessage("common:toolbar.folder")</th>
     <th> $msg.getMessage("export.global.nfsElements.headerFolderExportSummary")</th>
    </tr>
    #foreach($nfs in $nfsFiles)
     <tr class ="nfsElementMeta">
      <td> $nfs.fileSystemName  </td>
      <td style="word-break:break-all;"> $nfs.fileSystemUrl  </td>
      <td> $nfs.fileStorePath  </td>
      <td> $nfs.relativePath  </td>
      <td>
        #if( $nfs.addedToArchive ) <a href="$pathToArchiveRoot/filestoreFiles/$nfs.archivePath">$nfs.archivePath.substring(17)</a> #else $msg.getMessage("export.global.nfsElements.notIncluded") #end
      </td>
      <td>
        #if( $nfs.errorMsg ) $nfs.errorMsg #end
      </td>
      <td>
        #if( $nfs.folderLink ) $msg.getMessage("export.global.nfsElements.yes") #else $msg.getMessage("export.global.nfsElements.no") #end
      </td>
      <td style="word-break:break-all;">
        #if( $nfs.folderLink ) $nfs.folderExportSummaryMsg #end
      </td>
     </tr>
    #end
  </table>
#end ##nfs conditional

#end
