<div id='nfs'>
  <br>
  <h4>$msg.getMessage("export.pdf.nfsTable.title")</h4>
  <table id='nfs-table' class='docExtrasTable'>
    <thead>
    <tr>
      <th>$msg.getMessage("export.pdf.nfsTable.headerFileSystemId")</th>
      <th>$msg.getMessage("export.pdf.nfsTable.headerFileSystemUrl")</th>
      <th>$msg.getMessage("export.pdf.nfsTable.headerPath")</th>
    </tr>
    </thead>
    <tbody>
        #foreach($file in $files)
          <tr>
            <td>$file.getFileSystemId()</td>
            <td>$file.getFileSystemUrl()</td>
            <td>$file.getFileStorePath()</td>
          </tr>
        #end
    </tbody>
  </table>
</div>