<div id='provenance'>
  <br>
  <h4>$msg.getMessage("export.pdf.provenance.title")</h4>
  <table id='provenance-table' class='docExtrasTable'>
    <thead>
    <tr>
      <th>$msg.getMessage("common:versionLockPicker.columns.version")</th>
      <th>$msg.getMessage("export.pdf.provenance.headerDate")</th>
      <th>$msg.getMessage("export.pdf.provenance.headerName")</th>
      <th>$msg.getMessage("export.pdf.provenance.headerModificationType")</th>
    </tr>
    </thead>
    <tbody>
        #foreach($modification in $modifications)
        <tr>
          <td>$modification.getVersion()</td>
          <td>$modification.getDate()</td>
          <td>$modification.getName()</td>
          <td>$modification.getModificationType()</td>
        </tr>
        #end
    </tbody>
  </table>
</div>