<div class="runningHeaderLeft">
  $msg.format("export.pdf.runningHeader.owner", [$docOwner])
</div>
<div class="runningHeaderCenter">
  $docTitle
</div>
<div class="runningFooterRight">
  $msg.format("export.pdf.footer.exportedBy", [$exporterFullName])
</div>