<div id='stoichiometry'>
  <br>
  <h4>$msg.format("export.pdf.stoichiometry.title", [$header])</h4>
  <div class="stoichiometry-table-container">
    <table id='stoichiometry-table' class='stoichiometry-table'>
      <thead>
      <tr>
        <th class='stoichiometry-table-name'>$msg.getMessage("export.pdf.stoichiometry.headerName")</th>
        <th>$msg.getMessage("export.pdf.stoichiometry.headerRole")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.limitingReagent")
        </th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.equivalent")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.molecularWeight")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.mass")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.moles")</th>
        <th>$msg.getMessage("export.pdf.stoichiometry.headerInventory")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.actualMass")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.actualMoles")</th>
        <th>$msg.getMessage("common:stoichiometry.table.columns.yieldExcess")</th>
        <th class='stoichiometry-table-notes'>$msg.getMessage("common:stoichiometry.table.columns.notes")</th>
      </tr>
      </thead>
      <tbody>
          #foreach($molecule in $molecules)
          <tr>
            <td class='stoichiometry-table-name'>$molecule.getName()</td>
            <td>$molecule.getRole()</td>
            <td>$molecule.getLimitingReagent()</td>
            <td>$molecule.getCoefficient()</td>
            <td>$molecule.getMolecularWeight()</td>
            <td>$molecule.getMass()</td>
            <td>$molecule.getMoles()</td>
            #if ($molecule.getInventoryLinkedItem() != '-')
              <td><a href="$molecule.getServerPrefix()/globalId/$molecule.getInventoryLinkedItem()">$molecule.getInventoryLinkedItem()</a></td>
            #else
              <td>$molecule.getInventoryLinkedItem()</td>
            #end
            <td>$molecule.getActualAmount()</td>
            <td>$molecule.getActualMoles()</td>
            <td>$molecule.getActualYield()</td>
            <td class='stoichiometry-table-notes'>$molecule.getNotes()</td>
          </tr>
          #end
      </tbody>
    </table>
  </div>
</div>