
.passwordResetContainer {
    max-width: 760px;
    padding: 0 5%;
}
.passwordResetInstructionDiv,
.passwordResetSentDiv {
    text-align: center; 
    margin-top: 26px;
    font-size: 16px;
}

@media only screen and (max-height : 400px) {
    div.biggerLogoDiv {
        display: none;
    }
    .passwordResetInstructionDiv,
    .passwordResetSentDiv {
        margin-top: 0px;
        font-size: 14px;
    }
    .form-signup-heading {
        margin-top: 10px;
    }
}