#*
Template for messaging a user that their account is locked / or unlocked.
Arguments:
- systemUser - the admin user who locked the account
- user - A user object.
- accountDisabled - a boolean
- baseURL - the base URL of the application
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p/>
$msg.format("email.common.greeting", [${user.fullName}])
<p/>

#if (${accountDisabled} == 'true')
<p>$msg.format("email.account.accountEnablementNotification.disabled", [${systemUser.email}])
#else
<p>$msg.format("email.account.accountEnablementNotification.enabled", [${baseURL}])
#end
<br/>
$msg.getMessage("email.common.signatureSignOff")
<p/>
${systemUser.fullName}
