#*
Template for messaging a user that their account is locked / or unlocked.
Arguments:
- systemUser - the admin user who locked the account
- user - A user object.
- accountDisabled - a boolean
- htmlPrefix - the base URL of the application
*#

<p/>
Hello ${user.fullName},
<p/>

#if (${accountDisabled} == 'true')
<p>The RSpace system administrator has disabled your user account. For more details, please contact your RSpace administrator at <a href="mailto:${systemUser.email}">${systemUser.email}</a>.</p>
#else
<p>The RSpace system administrator has enabled your user account. You can now <a href="${htmlPrefix}/workspace">log in to RSpace</a>.</p>
#end
<br/>
Best wishes,
<p/>
${systemUser.fullName}
