#*
Template for messaging a user that their account is locked / or unlocked.
Arguments:
 - systemUser - the admin user who locked the account
 - user - A user object.
 - accountDisabled - a boolean
 - htmlPrefix - the base URL of the application
*#
<html>
#utf8header
<body>
<p/>
Hello ${user.fullName},
<p/>

#if (${accountDisabled} == 'true')
<p> The RSpace system administrator has disabled your user account. For more details, please contact your RSpace administrator (email).
#else 
<p> The RSpace system administrator has enabled your user account. To login, please visit ${htmlPrefix}/workspace .
#end
<br/>
Best wishes,
<p/>
${systemUser.fullName}
</body>
</html>