#*
Template for notifying the administrator of a new account registration.
Arguments:
- installation - the name of the installation
- fullName - the registrant's full name
- email - the registrant's email address
- acceptlink - URL to accept the request
- denylink - URL to deny the request
- msg - MessageSourceUtils for i18n phrase lookup
*#
<p>
$msg.getMessage("email.common.greetingDefault")<br/>

$msg.format("email.account.activationRequest.body", [${installation}])
<p/>
$msg.getMessage("email.account.activationRequest.details")<br/>
$msg.format("email.account.activationRequest.fullName", [${fullName}])<br/>
$msg.format("email.account.activationRequest.email", [${email}])

<p/>
$msg.format("email.account.activationRequest.accept", [${acceptlink}])
<p/>
<p/>
$msg.format("email.account.activationRequest.reject", [${denylink}])
<p/>

<p>
$msg.getMessage("email.common.dontReply")
</p>
