#*
Template for messaging a user that a batch account was created for them.
Arguments:
- userFirstName - the new user's first name
- htmlDomainPrefix - the base URL of the application
- groupName - optional group name
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p>$msg.format("email.common.greeting", [${userFirstName}])</p>

<p>$msg.getMessage("email.account.defaultWelcome.intro")</p>
<p>
$msg.format("email.account.defaultWelcome.access", [${htmlDomainPrefix}])
</p>
<p>
#if($groupName)
$msg.format("email.account.defaultWelcome.groupMember", [${groupName}])
#else
$msg.getMessage("email.account.defaultWelcome.individualUser")
#end
</p>
<p>
$msg.getMessage("email.account.defaultWelcome.guidanceIntro")
</p>
<h3>$msg.getMessage("email.account.defaultWelcome.guidanceHeading")</h3>

$msg.getMessage("email.account.defaultWelcome.recommendModernBrowser")
<p>
$msg.getMessage("email.account.defaultWelcome.browserAdvice")
</p>

<p>$msg.getMessage("email.account.defaultWelcome.guidanceVideo")

<p>$msg.getMessage("email.account.defaultWelcome.helpDocs")

$msg.getMessage("email.account.defaultWelcome.contact")

<p>
$msg.getMessage("email.common.notificationPrefNewUser")
</p>
<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>
