#*
Template for message sent to user's previous email account after successful 
email address change.

Arguments:
  - firstName
  - newEmailAddress
*#
Hello $firstName,

Your RSpace email address was updated. The new address is:

${newEmailAddress}

If you did not just change your email, please get in touch with your RSpace support team.

#dontReply_Plaintext

