#*
Template for message sent to user's previous email account after successful
email address change.

Arguments:
- firstName
- newEmailAddress
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p>$msg.format("email.common.greeting", [$firstName])</p>

<p>$msg.format("email.account.emailChangeConfirmation.body", [${newEmailAddress}])</p>

<p>$msg.getMessage("email.account.emailChangeConfirmation.ifNotYou")
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
