#*
Template for messaging a user that their account registration was denied.
Arguments:
- fullName - the user's full name
- msg - MessageSourceUtils for i18n phrase lookup
*#
<p>
$msg.format("email.account.genericAccountReview.greeting", [${fullName}])<br/>

$msg.getMessage("email.account.genericAccountReview.body")
<p/>
$msg.getMessage("email.account.genericAccountDenial.denied")
<p/>
$msg.getMessage("email.account.genericAccountReview.contactSupport")

$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>
