#*
Template for messaging a user that their account has been activated.
Arguments:
- fullName - the user's full name
- link - the URL to access the application
- msg - MessageSourceUtils for i18n phrase lookup
*#
<p>
$msg.format("email.account.genericAccountReview.greeting", [${fullName}])<br/>

$msg.getMessage("email.account.genericAccountReview.body")
<p/>
$msg.format("email.account.genericAccountActivation.activated", [${link}])
<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
<p/>
$msg.getMessage("email.account.genericAccountReview.contactSupport")

<p>
$msg.getMessage("email.common.notificationPrefNewUser")
</p>

$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>
