#*
Template for messaging a user that an account is now created for them.
Arguments:
- adminUser - the admin user who created the account
- newUser - The new user.
- baseURL - the base URL of the application
- newUserRole - a String of the new Role name.
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p/>
$msg.format("email.common.greeting", [${newUser.fullName}])
<p/>
$msg.format("email.account.newUserAccountComplete.body", [${newUserRole}, ${baseURL}, ${newUser.username}])
<p/>

<p>
$msg.getMessage("email.common.notificationPrefNewUser")
</p>

$msg.getMessage("email.common.signatureSignOff")
<p/>
${adminUser.fullName}

<p>
$msg.getMessage("email.common.dontReply")
</p>
