#* Template for messaging a user that their username/password was reset.
Arguments:
 - passwordType - "password" or "verification password".
*#
Hello,

You, or someone else, has reset the ${passwordType} for the RSpace account at this email address.

If you did not just reset your ${passwordType}, please get in touch with your RSpace support team.

#dontReply_Plaintext