#*
Template for messaging a user that their username/password was reset.
Arguments:
 - passwordType - "password" or "verification password".
*#
<p>Hello,</p>

<p>
    You, or someone else, has reset the ${passwordType}
    for the RSpace account at this email address.
</p>

<p>
    If you did not just reset your ${passwordType}, please get in touch with your RSpace
    support team.
</p>

<p>#dontReply</p>
