#*
Template for messaging a user that they requested a password reset
Arguments:
 - passwordType - "password" or "verification password".
 - resetLink - The reset URL to reset the password
 - ipAddress - The IP address from where the password request was generated.
*#

<p>Hello,</p>

<p>
    You, or someone else, requested to reset their ${passwordType}
    for RSpace at this email address.
</p>

<p>
    If this is a genuine request, and you wish to change your ${passwordType},
    then please click on the link below to reset your ${passwordType}:
    <br>
    <a href="${resetLink}">${resetLink}</a>
</p>

<p>#dontReply</p>

<p>#emailSourceIpFooter (${ipAddress})</p>
