#* Template for messaging a user that they requested a password reset
Arguments:
 - passwordType - "password" or "verification password".
 - ipAddress - The IP address from where the password request was generated.
 - resetLink - The reset URL to reset the password
*#

Hello,

You, or someone else, requested to reset their ${passwordType} for RSpace at this email address.

If this is a genuine request, and you wish to change your ${passwordType}, then please use the link below to reset your ${passwordType}:

${resetLink}

#dontReply_Plaintext

#emailSourceIpFooter_Plaintext(${ipAddress})