#*
Template for messaging a user that they requested a password reset
Arguments:
- passwordType - "password" or "verification password".
- resetLink - The reset URL to reset the password
- ipAddress - The IP address from where the password request was generated.
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p>$msg.getMessage("email.common.greetingDefault")</p>

<p>
$msg.format("email.account.passwordResetMessage.body", [${passwordType}])
</p>

<p>
$msg.format("email.account.passwordResetMessage.ifGenuine", [${passwordType}, ${passwordType}, ${passwordType}])
<br>
<a href="${resetLink}">${resetLink}</a>
</p>

<p><p>
$msg.getMessage("email.common.dontReply")
</p></p>

<p><div style="font-size:80%">
$msg.format("email.common.sourceIpFooter", [$ipAddress, "https://ip-lookup.net/index.php?ip=$ipAddress"])
</div></p>
