#*
Template for reminding a user their username
Arguments:
- username
- loginLink - The login URL to the RSpace instance
- ipAddress - The IP address from where the username reminder request was generated.
- msg - MessageSourceUtils for i18n phrase lookup
*#

<p>$msg.getMessage("email.common.greetingDefault")</p>

<p>
$msg.getMessage("email.account.usernameReminderMessage.body")
</p>

<p>
$msg.format("email.account.usernameReminderMessage.username", [${username}, ${loginLink}])
</p>

<p>
$msg.getMessage("email.account.usernameReminderMessage.ifNotYou")
</p>

<p><p>
$msg.getMessage("email.common.dontReply")
</p></p>

<p><div style="font-size:80%">
$msg.format("email.common.sourceIpFooter", [$ipAddress, "https://ip-lookup.net/index.php?ip=$ipAddress"])
</div></p>
