$msg.getMessage("email.common.greetingDefault")
<p>
$msg.format("email.cloud.groupInvitationNewUser.body", [${creator.fullName}, ${creator.email}, ${group.displayName}])

<p>
$msg.format("email.cloud.groupInvitationNewUser.accept", [${acceptanceLink}])

<p>
$msg.getMessage("email.cloud.common.signupEmailNote")

<p>
$msg.format("email.cloud.groupInvitationNewUser.onceSignedUp", [${creator.fullName}])

<p>
$msg.getMessage("email.cloud.groupInvitationNewUser.help")
<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>

<h3>$msg.getMessage("email.common.aboutRSpaceHeading")</h3>
$msg.getMessage("email.common.aboutRSpaceIntro")
<p>
$msg.getMessage("email.common.aboutRSpaceDescription")
</p>

<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
