##  RSPAC-245 use case 2
## This mail will get sent when a new group requires PI authorisation before it can be created.
## Parameters: fullName, acceptanceLink,email
##

$msg.getMessage("email.common.greetingDefault")

<p>
$msg.format("email.cloud.groupPiInvitationNewUser.body", [${creator.fullName}, ${creator.email}, ${groupName}])

<p>
$msg.format("email.cloud.groupPiInvitationNewUser.accept", [${acceptanceLink}])

<p>
$msg.getMessage("email.cloud.common.signupEmailNote")

<p>
$msg.format("email.cloud.groupPiInvitationNewUser.onceSignedUp", [${creator.fullName}])

<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>

<h3>$msg.getMessage("about:title")</h3>
$msg.getMessage("email.common.aboutRSpaceIntro")
<p>
$msg.getMessage("email.common.aboutRSpaceDescription")
</p>

<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
