Hello $!{invited.fullName},
<p>
${creator.fullName} (${creator.email}) has invited you to join their RSpace group '${group.displayName}'.

<p> 
If you'd like to accept this invitation, please login to RSpace:

<a href = "${acceptanceLink}">${acceptanceLink}</a>

<p>
Once you've logged in, there will be an invitation message waiting for you  - accept this invitation and you will be added to ${creator.fullName}'s group.

<p>
#signature

<p/>
#dontReply