$msg.format("email.common.greeting", [${invited.fullName}])
<p>
$msg.format("email.cloud.groupInvitationExistingUser.body", [${creator.fullName}, ${creator.email}, ${group.displayName}])

<p>
$msg.format("email.cloud.groupInvitation.loginPrompt", [${acceptanceLink}])

<p>
$msg.format("email.cloud.groupInvitationExistingUser.onceLoggedIn", [${creator.fullName}])

<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>

<p/>
<p>
$msg.getMessage("email.common.dontReply")
</p>
