$msg.format("email.common.greeting", [${invited.fullName}])
<p>
$msg.format("email.cloud.groupPiInvitationExistingUser.body", [${creator.fullName}, ${creator.email}, ${groupName}])

<p>
$msg.format("email.cloud.groupInvitation.loginPrompt", [${acceptanceLink}])

<p>
$msg.format("email.cloud.groupPiInvitationExistingUser.onceLoggedIn", [${creator.fullName}])

<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>
