$msg.format("email.common.greeting", [${invited.fullName}])
<p>
$msg.format("email.cloud.shareRecordInvitationExistingUser.body", [${creator.fullName}, ${creator.email}, ${recordName}])

<p>
$msg.format("email.cloud.shareRecordInvitationExistingUser.loginPrompt", [${acceptanceLink}])

<p>
$msg.format("email.cloud.shareRecordInvitationExistingUser.onceLoggedIn", [${recordName}])

<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>
