<html>
<body>
Hello $!{invited.fullName},
<p>
${creator.fullName} (${creator.email}) wants to share a document (${recordName}) with you.

<p> 
If you'd like to accept this request, please login to RSpace:

<a href = "${acceptanceLink}">${acceptanceLink}</a>

<p>
Once you've logged in,  there will be a request waiting for you - accept this request and the document (${recordName}) will be shared.

<p>
#signature
</body>
</html>