$msg.getMessage("email.common.greetingDefault")
<p>
$msg.format("email.cloud.shareRecordInvitationNewUser.body", [${creator.fullName}, ${creator.email}, ${recordName}])

<p>
$msg.format("email.cloud.shareRecordInvitationNewUser.accept", [${acceptanceLink}])

<p>
$msg.getMessage("email.cloud.common.signupEmailNote")

<p>
$msg.format("email.cloud.shareRecordInvitationNewUser.onceSignedUp", [${recordName}])

<p>
$msg.getMessage("email.common.signatureSignOff")
<p>
$msg.getMessage("email.common.signatureTeam")
</p>

<h3>$msg.getMessage("about:title")</h3>
$msg.getMessage("email.common.aboutRSpaceIntro")
<p>
$msg.getMessage("email.common.aboutRSpaceDescription")
</p>
