#*
Template for messaging a user that signed up on cloud without using verification link
Arguments:
 
 - verifyLink - The  URL to verify signup
 - ipAddress - The IP address from where the request was generated.
 - htmlDomainPrefix URL of RSpace
 - firstName greeting
*#
Hello $firstName,

You, or someone else, have signed up for an RSpace account, at:

${htmlDomainPrefix}

If it was really you that signed up,  please use the link below to verify
and activate your account.
  
${verifyLink}

#dontReply_Plaintext

#signature_Plaintext

#emailSourceIpFooter_Plaintext(${ipAddress})