#*
This is the template for the listing of complete contents of all exported items in an HTML archive
Arguments :

indexItems - a collection of IndexItem objects. Ideally these will be sorted.
*#
<!DOCTYPE HTML>
<html lang="$msg.languageTag">
<head>
<title>$msg.getMessage("export.archive.azIndex.title")</title>
<link href="resources/index.css" rel="stylesheet" />
<meta charset="UTF-8">
</head>
<body>
<div class="navigationSection">
<a href="index.html">$msg.getMessage("export.archive.top")</a></div><br/>
#foreach ($indexItem in $indexItems)
	<img src="./resources/document.png" width=32 height=32/><a href = "$indexItem.url">$indexItem.name</a><br/>
#end

</body>
</html>
