#*
This is the template for the listing of contents of a folder in an HTML archive.
It takes several arguments:

folderName - a string that is the name of the folder being indexed
indexItems - a collection of IdexItem objects
manifest   - an optional ArchiveManifest object that can be passed in to the top-level
                index.html
*#
<!DOCTYPE HTML>
<html lang="$msg.languageTag">
<head>
<title>$folderName </title>
<link href="resources/index.css" rel="stylesheet" />
<meta charset="UTF-8">
</head>
<body>
<div class="navigationSection">
<a href="index.html">$msg.getMessage("export.archive.top")</a></div>
#if($manifest)
	<div class="navigationSection">
  <a href="./a-zIndex.html">$msg.getMessage("export.archive.htmlIndex.fullAzIndexLink") </a></div>
  <div id="headerSection">
  <h2> $msg.getMessage("export.archive.htmlIndex.manifest") </h2>
 <table>
 #foreach($item in $manifest.items)
     <tr>
     		<td>$item.key</td>
     		<td>$item.value</td>
     </tr>
  #end
 </table>
 </div>
#end ## end manifest conditional
<h3>$msg.format("export.archive.htmlIndex.listingOf", [$folderName])</h3>
#if($indexItems.isEmpty())
 <p> $msg.getMessage("export.archive.htmlIndex.noItems")
#end
#foreach ($indexItem in $indexItems)
 #if ($indexItem.record)
<img src="./resources/document.png" width=32 height=32/><a href = "$indexItem.url">$indexItem.name</a><br/>
 #elseif ($indexItem.notebook)
<img src="./resources/notebook.png" width=32 height=32/><a href = "$indexItem.url">$indexItem.name</a><br/>
 #else
<img src="./resources/folder.png" width=32 height=32/><a href = "$indexItem.url">$indexItem.name</a><br/>
 #end
#end ## end indexItem loop

#if($includeLinkToNfsEports)
<div id ="footer" style="margin-top:30px">
<a href="nfs-Links.html"> $msg.getMessage("export.archive.htmlIndex.nfsSummaryLink") </a>
</div>
#end
</body>
</html>
