#*
 Generates a top-level summary file of all NfsExternal links
*#
<!DOCTYPE HTML>
<html lang="$msg.languageTag">
<head>
<title>$msg.getMessage("export.archive.nfsExports.title")</title>
<link href="resources/document.css" rel="stylesheet" />
<meta charset="UTF-8">
</head>
<body>
  <div class="navigationSection">
     <a href="index.html">$msg.getMessage("export.archive.top")</a></div>
  <h3> $msg.getMessage("export.archive.nfsExports.heading") </h3>
  <div id="nfsList">
    #nfsElements($nfsList ".")
  </div>
</body>
</html>
